body {
  background: #eee;
  font-family: sans-serif;
}

.card * {
    padding: 10px 10px;
    font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 15px 10px 1px 10px; }

.title {
  background: #e3f4ff;
}


.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
}


.content {
  background: #e3f4ff;
  padding: 15px 10px;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.block {
   display: block; 
   margin: 0 auto;
}
