* {
  margin: 0;
  padding: 0;
}

li
{
    text-decoration: none;
    list-style: none;
}

.container {
  text-align: center;
  display: grid;
  grid-template: 2fr 1fr 7fr 1fr / 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: 1 / 1 / 2 / 3;

  display: grid;
  grid-template-columns: 4fr 6fr;
  align-items: center;
}

.header .logo
{
    justify-self: start;
}
.menu ul
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.menu ul,
.menu li {
  font-size: 16px;
}

.nav ul
{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.sidebar {
  background-color: #C50208;
  grid-area: 2 / 1 / 4 / 2;
  
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
}

.sidebar .photo,
.sidebar .side-content
{
    display: grid;
    align-items: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card
{
    height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column-start: 1;
  grid-column-end: 3;
    display: grid;
    align-items: center;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
