/* Add CSS Styling */

.odd {
    background-color: rgb(255, 190, 203);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.common-font {
    font-size: 24px;  
}

#num2 {
    color: #0000ff;
    font-size: 36px;
}

/*
#third {
    font-size: 24px;
}
*/

#num4 {
    background-color: hsl(120, 100%, 75%);
    font-weight: bold;
}
